---
# Here commands for REDHAT-based systems
- name: Check if PostgreSQL GPG key is already imported
  ansible.builtin.command:
    cmd: rpm -qa | grep pgdg-redhat-repo
  register: pgdg_key_check
  changed_when: false
  failed_when: false
  check_mode: false

- name: Ensure PostgreSQL GPG key is imported manually
  ansible.builtin.command:
    cmd: rpm --import https://apt.postgresql.org/pub/repos/yum/keys/RPM-GPG-KEY-PGDG
  changed_when: false
  ignore_errors: yes
  when: 
    - not ansible_check_mode
    - pgdg_key_check.rc != 0

- name: Add PostgreSQL repository package (disable GPG check just for install)
  ansible.builtin.yum:
    name: "https://download.postgresql.org/pub/repos/yum/reporpms/EL-9-x86_64/pgdg-redhat-repo-latest.noarch.rpm"
    state: present
    disable_gpg_check: true

- name: Ensure PostgreSQL repo GPG check is enabled (after import)
  ansible.builtin.replace:
    path: /etc/yum.repos.d/pgdg-redhat-all.repo
    regexp: '^gpgcheck\s*=\s*0'
    replace: 'gpgcheck=1'
  when: ansible_facts['os_family'] == 'RedHat'

# Here commands for DEBIAN-based systems
- name: Add PostgreSQL repository for Debian-based systems
  apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt/ {{ ansible_distribution_release }}-pgdg main"
    state: present
    filename: "pgdg.list"
  when: ansible_facts['os_family'] == 'Debian'

- name: Ensure GPG key for PostgreSQL is added for Debian-based systems
  ansible.builtin.command:
    cmd: wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
  changed_when: false
  when: ansible_facts['os_family'] == 'Debian'
