---
# Here commands for REDHAT-based systems
- name: Ensure Python 3 pip is installed on RedHat-based systems
  ansible.builtin.yum:
    name: python3-pip
    state: present
  when: ansible_facts['os_family'] == 'RedHat'

- name: Install psycopg2-binary via pip on RedHat-based systems
  ansible.builtin.pip:
    name: psycopg2-binary
    executable: pip3
  when: ansible_facts['os_family'] == 'RedHat'

# Here commands for DEBIAN-based systems
- name: Ensure Python 3 pip is installed on Debian-based systems
  ansible.builtin.apt:
    name: python3-pip
    state: present
    update_cache: yes
  when: ansible_facts['os_family'] == 'Debian'

- name: Install psycopg2-binary via pip on Debian-based systems
  ansible.builtin.pip:
    name: psycopg2-binary
    executable: pip3
  when: ansible_facts['os_family'] == 'Debian'